# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.venv
env/
venv/

# Docker
Dockerfile

# Локальные папки, которые приложение создает
uploads/
savedPredictions/
cropped_images/
passports/
cropped_passports/

# Системные файлы
.DS_Store