@font-face {
	font-family: 'OpenSans'; 
	src: url(./fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf); 
}

@font-face {
	font-family: 'OpenSans Bold'; 
	src: url(./fonts/Open_Sans/static/OpenSans-Bold.ttf); 
}

@font-face {
	font-family: 'OpenSans Light'; 
	src: url(./fonts/Open_Sans/static/OpenSans-Light.ttf); 
}

@font-face {
	font-family: 'OpenSans Extra Bold'; 
	src: url(./fonts/Open_Sans/static/OpenSans-ExtraBold.ttf); 
}

* {
    font-family: 'OpenSans';
    color: #000000;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    min-height: 100vh;
    background-color: #ffffff;
    background-size: cover; /* Растягиваем изображение, чтобы оно покрывало весь экран */
    background-position: center; /* Центрируем изображение на экране */
    background-repeat: no-repeat;
}

.name-of-str {
    font-family: 'OpenSans Bold';
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#root {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    min-height: 100vh;
}